body {
    font-family: 'Rubik Mono One', sans-serif;
}

#main {
    width: 1200px;
    height: 900px;
    margin: 0 auto;
    background-image: url("../images/mandy-bground.jpg");
    background-size: cover;
    background-position: center;
}

#main-content {
    text-align: center;
    margin: 0 auto;
}
#mainquestions {
    text-align: center;
    background: rgba(255, 30, 30, 0.664);
}
#showresult {
    text-align: center;
    width: 300px;
    background: rgba(255, 30, 30, 0.664);
    margin: 0 auto;
}

#countdown {
    background: rgba(243, 23, 188, 0.664);
}

#startGame {
    font-family: 'Rubik Mono One', sans-serif;
    background: rgb(238, 15, 182);
}